<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High on Dad Jokes!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/Project_2/project__2/public/css/style.css">
</head>

<body>
    <div>
        <header>
            <img src="/Project_2/project__2/public/images/HIGH ON DAD JOKES.png" alt="High on Dad Jokes Logo" width="100px" height="50px">
            <nav>
                <div class="tabs is-medium">
                    <ul>
                        <li class="is-active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/jokes">Jokes</a>
                        </li>
                        <li>
                            <a>Create</a>
                        </li>
                    </ul>
                </div>
                <button class="button is-danger">
                    {{#if logged_in}}
                    <a>Logout</a>
                    {{else}}
                    <a href="/login" id="login-btn">Login</a>
                    {{/if}}
                </button>
            </nav>

        </header>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>