<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High on Dad Jokes!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/Project_2/project__2/public/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                High on Dad Jokes!
            </h1>
            <nav>
                {{#if logged_in}}
                <a href="/Project_2/project__2/public/profile.js">Profile</a>
                <button class="button is-responsive" id="logout">Logout</button>
                {{else}}
                <a href="/Project_2/project__2/public/login.js">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>

{{#if logged_in}}
<script src="/Project_2/project__2/public/logout.js"></script>
{{/if}}
</body>

</html>