<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High on Dad Jokes!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div>
        <header>
            <img src="images/high on dad jokes logo.png" alt="High on Dad Jokes Logo">
            <nav>
                <div class="tabs is-medium">
                    <ul>
                        <li class="is-active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/jokes">Jokes</a>
                        </li>
                        <li>
                            <a href="/create">Create</a>
                        </li>
                    </ul>
                    <div class="buttons">
                        {{#if logged_in}}
                        <button class="button is-responsive" id="logout-btn">Logout</button>
                        {{else}}
                        <a class="button is-responsive" id="login-btn" href="/login">Login</a>
                        {{/if}}
                    </div>
                </div>
            </nav>

        </header>
        <main>
            {{{body}}}
        </main>
        <footer></footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>