<div class="text-center">
   
    <form class="create-form">
        <div class="field">
            <label class="label">Insert Joke Here!</label>
            <div class="control">
                 <textarea class="textarea is-danger" placeholder="Insert Dad Joke Here" rows="10" id="dad_joke"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger" type="submit">Submit</button>
            </div>
            <div class="control">
                <button class="button is-danger is-light"> <a href="/"> Cancel </a> </button>
            </div>
        </div>
    </form>
</div>

<script src="./js/createJoke.js"></script>