<div class="text-center">
    <h2>Write your own Dad Jokes!</h2>
    <form class="create-form">
        <div class="field">
            <label class="label">Insert Joke Here!</label>
            <div class="control">
                <input type="text" class="" placeholder="Textarea" id="dad_joke"></input>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light"> <a href="/"> Cancel </a> </button>
            </div>
        </div>
    </form>
</div>

<script src="./js/createJoke.js"></script>