<div class="flex-parent jc-center">

  <a class="button is-large" id="create-btn" href="/create">
  <h1>Create your own Dad Joke</h1>
  </a>
  <a class="button is-large" id="search-btn" href="/jokes">
  <h1>Look at Other Dad Jokes</h1>
  </a>

</div>