<div class="box">

  <button class="button is-large" id="create-btn" href="/create">Create your own
    Dad Joke</button>
  <button class="button is-large" id="search-btn">Look at Other Dad Jokes</button>

</div>

<div class="box">
  <a> This is the Joke of the Day! </a>
</div>