<div class="box">

  <a class="button is-large" id="create-btn" href="/create">Create your own
    Dad Joke</a>
  <a class="button is-large" id="search-btn" href="/jokes">Look at Other Dad Jokes</a>

</div>

<div class="box">
  <a> This is the Joke of the Day! </a>

  <p> {{jokes}}</p>

</div>