<div>
    <p>test output for jokes haha</p>

    <section>
        {{#each dad_joke }}
        {{> jokepage-details}}
        {{/each}}
    </section>
    <button id="create-btn"> <a href="/create">Create Joke</a> </button>
</div>


{{!-- <script src="./js/jokes.js"></script> --}}