<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="container is-fluid">
                <div class="notification is-primary">
                    <h1>Login</h1>
                    <div class="field">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email" id="email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" id="password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success" type="submit">
                                    Login
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <form class="form signup-form">
            <div class="container is-fluid">
                <div class="notification is-primary">
                    <h1>Sign up</h1>
                    <div class="field">
                        <div class="field">
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="Username" placeholder="Username" id="name">
                                </p>
                            </div>
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email" id="signup-email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" id="signup-password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success">
                                    Sign up
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="./js/login.js"></script>