<div class="row">
    <div class="col-md-6">
        <form class="form login-form">
            <div class="container is-fluid">
                <div class="notification is-white">
                    <h1>Login</h1>
                    <div class="field">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="email" placeholder="Email" id="email">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="password" placeholder="Password" id="password">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-danger" type="submit">
                                    Login
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <form class="form signup-form">
            <div class="container is-fluid">
                <div class="notification is-white">
                    <h1>Sign up</h1>
                    <div class="field">
                        <div class="field">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="Username" placeholder="Username" id="name">
                                </p>
                            </div>
                            <p class="control">
                                <input class="input" type="email" placeholder="Email" id="signup-email">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="password" placeholder="Password" id="signup-password">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-danger">
                                    Sign up
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="./js/login.js"></script>